.otp-container {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #f9f9f9, #e6ecf0);
  padding: 20px;
}

.otp-form {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.otp-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 25px;
}

.otp-info,
.otp-loading {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.otp-input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  font-size: 16px;
  transition: border 0.3s;
}

.otp-input:focus {
  border-color: #007bff;
  outline: none;
}

button{
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #218838;
}
