.footer {
  background: linear-gradient(135deg, #5b2be3, #11002b);
  color: #ffffff;
  padding: 4rem 2rem 2rem;
  font-family: "Segoe UI", sans-serif;
}

.footer li {
  margin-bottom: 0.5rem;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}


.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

a.link{
  color: white;
}
.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 0.6rem;
  color: #e0e0e0;
  font-size: 0.95rem;
  cursor: pointer;
}

.footer-col ul li:hover {
  text-decoration: underline;
  color: #ffffff;
}

/* Bottom Row */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.footer-socials i {
  color: #ffffff;
  margin: 0 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.footer-socials i:hover {
  color: #d4c2ff;
}

.footer-copy {
  color: #cfcfcf;
  font-size: 0.9rem;
}
